<div class="mt-5">
  <h1>Create Plan</h1>
</div>
<%= form_with model: @meal_plan, url: create_plan_path, local: true, data: {turbo: false} do |form| %>
  <% if @meal_plan.errors.any? %>
    <div class="alert alert-danger">
      <% @meal_plan.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
  <div class="mb-3 mt-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :user_id %>
    <%= form.hidden_field :user_id, value: Current.user.id %>
  </div>
  <div class="mb-3">
    <%= form.submit "Create Plan" %>
  </div>
<% end %>

