<style>
    td {
        text-align: center;
    }
    th{
        text-align: center;

    }
    .btn.btn-secondary {
        background-color: darkgreen;
        width: 100px;
    }
</style>


<% if @food %>
  <div id="main" class = "mt-5">
    <table class = "table" style="border-color: #228B22; background-color: gainsboro">
      <thead>
      <tr>
        <th scope="col"><h4 style="font-weight: bold; font-family: 'Playfair Display', serif;">Name</h4></th>
        <th scope="col"><h4 style="font-weight: bold; font-family: 'Playfair Display', serif;">Calories</h4></th>
        <th scope="col"><h4 style="font-weight: bold; font-family: 'Playfair Display', serif;">Protein</h4></th>
        <th scope="col"><h4 style="font-weight: bold; font-family: 'Playfair Display', serif;">Carbs</h4></th>
        <th scope="col"><h4 style="font-weight: bold; font-family: 'Playfair Display', serif;">Fat</h4></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row"><h4><%= @food.name %></h4></th>
        <td><h4><%= @food.calories %></h4></td>
        <td><h4><%= @food.protein %></h4></td>
        <td><h4><%= @food.carbs %></h4></td>
        <td><h4><%= @food.fat %></h4></td>
      </tr>
      </tbody>
    </table>

    <div id="button_div">
      <%=link_to "Back",root_path, class:"btn btn-secondary" %>
    </div>
  </div>
<% end %>

